"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
    sort_by      = "natural"
    show_hidden  = true
    show_symlink = false
    linemode     = "mtime"

[preview]
    wrap = "yes"

[[opener.edit]]
    run   = "%EDITOR% %s"
    desc  = "$EDITOR"
    block = true

[[opener.open]]
    run  = "xdg-open %s1"
    desc = "Open"
    for  = "linux"

[[opener.open]]
    run  = "open %s"
    desc = "Open"
    for  = "macos"

[[opener.open]]
    run    = 'start "" %s1'
    desc   = "Open"
    for    = "windows"
    orphan = true

[[opener.open]]
    run  = '"C:\Program Files\Sandboxie-Plus\Start.exe" /box:__ask__ %s1'
    desc = "Open With Sandboxie"
    for  = "windows"

[[opener.open]]
    run  = "termux-open %s1"
    desc = "Open"
    for  = "android"

[[open.prepend_rules]]
    mime = "application/java-archive"
    use = [
        "open",
        "extract",
        "reveal",
    ]

[[open.prepend_rules]]
    url = "*"
    use = [
        "open",
        "edit",
        "reveal",
    ]

[[plugin.prepend_fetchers]]
    id   = "mime"
    url  = "local://*"
    run  = "mime-ext.local"
    prio = "high"

[[plugin.prepend_fetchers]]
    id   = "mime"
    url  = "remote://*"
    run  = "mime-ext.remote"
    prio = "high"

[[plugin.prepend_preloaders]]
    mime = "{audio,video,image}/*"
    run  = "mediainfo"

[[plugin.prepend_preloaders]]
    mime = "application/subrip"
    run  = "mediainfo"

[[plugin.prepend_preloaders]]
    mime = "application/postscript"
    run  = "mediainfo"

[[plugin.prepend_preloaders]]
    mime = "font/*"
    run  = "font-sample"

[[plugin.prepend_preloaders]]
    mime = "application/ms-opentype"
    run  = "font-sample"

[[plugin.prepend_preloaders]]
    url = "*.{otf,ttf,woff,woff2}"
    run = "font-sample"

[[plugin.prepend_previewers]]
    mime = "{audio,video,image}/*"
    run  = "mediainfo"

[[plugin.prepend_previewers]]
    mime = "application/subrip"
    run  = "mediainfo"

[[plugin.prepend_previewers]]
    mime = "application/postscript"
    run  = "mediainfo"

[[plugin.prepend_previewers]]
    url = "*.nu"
    run = 'piper -- nu --commands "open --raw "$1" | nu-highlight"'

[[plugin.prepend_previewers]]
    url = "*.csv"
    run = "code"

[[plugin.prepend_previewers]]
    url = "*.md"
    run = "rich-preview"

[[plugin.prepend_previewers]]
    url = "*.rst"
    run = "rich-preview"

[[plugin.prepend_previewers]]
    url = "*.ipynb"
    run = "rich-preview"

[[plugin.prepend_previewers]]
    mime = "font/*"
    run  = "font-sample"

[[plugin.prepend_previewers]]
    mime = "application/ms-opentype"
    run  = "font-sample"

[[plugin.prepend_previewers]]
    url = "*.{otf,ttf,woff,woff2}"
    run = "font-sample"

[[plugin.prepend_previewers]]
    url = "**/.git/"
    run = "preview-git"

[[plugin.prepend_spotters]]
    mime = "audio/*"
    run  = "spot-audio"

[[plugin.prepend_spotters]]
    mime = "image/*"
    run  = "spot-image"

[[plugin.prepend_spotters]]
    url = "video/*"
    run = "spot-video"

[[plugin.prepend_spotters]]
    url = "*/"
    run = "spot"

[[plugin.prepend_spotters]]
    url = "*"
    run = "spot"

[tasks]
    image_alloc = 1073741824
