{{ $EMAIL := promptStringOnce . "email" "What is your email address" -}}
{{ $GH_NAME := promptStringOnce . "github_name" "What is your GitHub user name" -}}
{{ $GPG_KEY_ID := promptStringOnce . "gpg_key_id" "What is your GPG key ID" -}}
[data]
    EMAIL = {{ $EMAIL | quote }}
    GH_NAME = {{ $GH_NAME | quote }}
    GPG_KEY_ID = {{ $GPG_KEY_ID | quote }}

encryption = "gpg"

[diff]
    command = "code-insiders"
    args = [
        "--wait",
        "--diff",
    ]

[keepassxc]
    database = "~/OneDrive/文件/密碼.kdbx"

[merge]
    command = "code-insiders"
    args = [
        "--new-window",
        "--wait",
        "--merge",
        "{{ "{{ .Destination }}" }}",
        "{{ "{{ .Target }}" }}",
        '{{ "{{ printf \"%s.base\" .Target }}" }}',
        "{{ "{{ .Source }}" }}",
    ]

[git]
    autoAdd    = true
    autoCommit = true
{{- if promptBoolOnce . "use_pinentry" "Do you want to use pinentry for password input" }}
[pinentry]
    command = 'pinentry'
{{- end }}
