[core]
    editor = code-insiders --wait
    preloadindex = true
    autocrlf = input
    compression = 3
    longpaths = true

[user]
    name = {{ .GH_NAME }}
    email = {{ .EMAIL }}
    signingkey = {{ .SIGN_KEY_ID }}
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[push]
    autoSetupRemote = true
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[gpg]
    {{- if eq .SIGN_BY "gpg" }}
    format = openpgp
    program = "C:\\Program Files\\GnuPG\\bin\\gpg.exe"
    {{- else if eq .SIGN_BY "ssh" }}
    format = ssh
    {{- else }}
    {{ warnf "Invalid signing method: %s. No signing will be used." .SIGN_BY}}
    {{- end }}

[http]
    postBuffer = 524288000

[sendemail]
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpUser = {{ .EMAIL }}
    smtpServerPort = 587
[checkout]
    workers = 0
[credential "https://github.com"]
    helper =
    helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential


[merge]
    tool = vscode
[diff]
    tool = vscode
