# gitgud.io user
Host ssh.gitgud.io
HostName gitgud.io
User {{ .EMAIL }}
PreferredAuthentications publickey
IdentityFile ~/.ssh/github

# github.com user
Host github.com
HostName ssh.github.com
User git
Port 443
